---
interface Props {
  title       : string;
  image       : string;
  tools       : string[];
  href        : string;
}

const { title, tools, image, href } = Astro.props
---

<a class="card" href={href} rel="noopener noreferrer" title={title} target="_blank">
  <img class="card__image" src={image} alt="project">
  <div class="card__content">
    <p class="card__content-title">{title} <img src="/icons/link.svg" alt="external link" /></p>
    <p class="card__content-description">
      <slot />
    </p>
    <ol class="card__content-tools">
      { tools.map((item) => <li>{item}</li>) }
    </ol>
  </div>
</a>

<style>
  .card{
    align-items: start;
    display: flex;
    padding: 30px;
    color: var(--white);
    font-family: var(--font-regular);
    gap: 24px;
    transition: all .5s;
    border-radius: 12px;
    cursor: pointer;
  }

  @media (max-width: 500px) {
    .card{
      flex-direction: column-reverse;
    }
  }

  .card:hover{
    background: #172033;
    transition: all .2s;
  }

  .card:hover .card__content-title img {
    transform: scale(1.2);
  }

  .card__image{
    width: 160px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
  }

  .card__content{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card__content-title{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .card__content-description{
    color: #b9b9bb;
  }

  .card__content-tools{
    display: flex;
    gap: 8px;
  }

  .card__content-tools li {
    font-size: 12px;
    font-family: var(--font-regular);
    letter-spacing: 1px;
    font-weight: 600;
    background-color: var(--primary-light);
    color: var(--primary);
    border-radius: 16px;
    padding: 5px 8px;
  }

</style>